/* Style */

body { background-color: #FFFFFF; }


/* Navigation Sub
----------------------------------------------------------------------------------------------------*/
ul#sub_menu 		{ text-align:center; font-size:1.2em; letter-spacing:0.2em; position:static; padding:0; }
ul#sub_menu li 		{ display: inline;  margin: 0 10px;  }
ul#sub_menu li a 	{ display: inline;  padding: 0px; margin: 0 0px; background-color:transparent; color: #000; border:none; }
ul#sub_menu li a:hover		{ color: #999; background-color:transparent; }
ul#sub_menu .menu-act { color:#999; }

/* Contents common
----------------------------------------------------------------------------------------------------*/
.page_title { 
	text-align:center;
	background-image: url(../images/bg-line.gif); background-repeat:repeat-x; background-position:0 center; 
	margin-bottom:10px;
	letter-spacing:3px;
	}
.page_title h2 span{ background-color:rgb(243,241,237); padding:0 10px 0 14px; }

.midashi	{ text-align:center; letter-spacing:0.2em; padding-bottom:30px; }
.fsize-14 	{ font-size:14px; }
.fsize-12	{ font-size:12px; }
.fsize-10	{ font-size:10px; }

.contents-plan h3 { font-size: 1.6em; text-align: center; letter-spacing: normal; background-color: #ccc; margin-top: 20px; padding: 10px; border-radius: 5px; webkit-border-radius: 5px; -moz-border-radius: 5px; width: 140px;}
.plan-p           { text-align: left; margin-top: 20px;}
.contents-plan ol { padding-left: 30px;}
.contents-plan ul { font-size: 12px; display: inline-block; text-decoration: underline; margin-bottom: 20px; text-align: left;}
.contents-plan li { text-align: left;}
.stepCircle		  { font-size: 2em; text-align: center; background-color: #ccc; height: 120px; width: 120px; line-height: 120px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; margin:20px auto;}
.grid_5-pl h4  { font-size: 2em; text-align: center;}
.step-hedding   { font-size: 2em; text-align: center;}

/* Side bar
----------------------------------------------------------------------------------------------------*/
#sidebar			{ }
.sidebar_sec 		{ margin:0; border:#ccc 1px solid; padding:10px; margin-bottom:40px;}
.sidebar_sec h4 	{ margin:0; text-align:center; border-bottom: 1px dotted #999; margin-bottom:20px; padding-bottom:10px; }
.sidebar_sec ul li 	{ margin:0; }
.sidebar_sec ul		{ font-size:1.2em; line-height:160%; }
.sidebar_sec li		{ padding-bottom:15px; text-align: left;}
#sidebar a:link		{ cursor:pointer; color: #000; border-bottom: 1px dotted #999; }
#sidebar a:visited	{ cursor:pointer; color: #000; border-bottom: 1px dotted #999; }
#sidebar a:hover	{ cursor:pointer; color: #000; border-bottom: none; background-color:#fffa96; }
.sidebar-midashi	{ font-size:1.2em; text-align:center; letter-spacing:0.2em; border-bottom: 1px dotted #999; margin-bottom:20px; padding-bottom:10px; }


.go-ncr-news	{ text-align:center; }
.go-ncr-news button  {
	font-family: 'ãƒ’ãƒ©ã‚®ãƒŽæ˜Žæœ Pro W3','Hiragino Mincho Pro','HGSæ˜ŽæœE','ï¼­ï¼³ ï¼°æ˜Žæœ','MS PMincho',serif;
	font-size:1em;
	letter-spacing:1px;
    border: none;   
    padding: 5px 20px;   
    cursor: pointer;  
    color: #333;
	background: #FFF;
}  
.go-ncr-news button:hover  { background-color:rgb(255,250,150); }

#category ul	{ padding:0 0 0 5px; font-size:1.2em; list-style-image:url(../images/arrow_list.png); list-style-position:inside; }
#category li  { text-align: left;}

.topic			{ border-bottom: 1px dotted #999; padding-bottom:40px; margin-bottom:40px; }
.topic h3		{ margin-bottom:40px; }
.topic h3 span 	{ background-color:#fffa96; }
.topic p 		{ font-size:1.4em; }
.topic-icon img { float:left; margin-right:10px;}
.topic-icon		{ font-size:1.2em; }

.topic a:link 		{ color: #147878; border-bottom: 1px dotted #147878; }
.topic a:visited 	{ color: #147878; border-bottom: 1px dotted #147878; }
.topic a:hover		{ color: #000; border-bottom: none; background-color:#fffa96;}

.topic a.nodeco:link { border-bottom: 0px !important; background-color:transparent; }

.column p 			{ font-size:1.4em; }
.column a:link 		{ color: #147878; border-bottom: 1px dotted #147878; }
.column a:visited 	{ color: #147878; border-bottom: 1px dotted #147878; }
.column a:hover		{ color: #000; border-bottom: none; background-color:#fffa96;}
.column a.nodeco:link { border-bottom: 0px !important; background-color:transparent; }

.img-left,
.img-right { overflow: hidden; height: auto; }
 
.img-left img 	{ float: left; margin: 0 15px 15px 0 !important; padding: 0 !important; border: 0 !important; }
.img-right img 	{ float: right; margin: 0 0 15px 15px !important; padding: 0 !important; border: 0 !important; }
 
.img-left p,
.img-right p { overflow: hidden; height: auto; line-height:140%; }

.cat-sort		{ border-bottom: 1px dotted #999; padding-bottom:10px; margin-bottom:40px; }

/* Discigraphy
----------------------------------------------------------------------------------------------------*/
.disco		{ margin-bottom:30px; font-size:1.2em; }
.disco img	{ float:left; margin-right:10px;}

.disco-detail	{ font-size:1.2em; }
.jacket_part	{ overflow : hidden;}


ul#disco_list 			{ padding:0; list-style:none; margin-top:10px;}
ul#disco_list li 		{ margin: 0 10px 20px 10px; clear:both; }
ul#disco_list li img	{ float:left; margin-right:10px; margin-bottom:20px; }
ul#disco_list li a 				{ padding: 0px; margin: 0 0px;  color: #333; border:none; }
ul#disco_list li a:hover		{ color: #666; background-color:#fffa96;  }

.disco-hr	{ padding:0; margin:0;}

/* ã‚¹ã‚±ã‚¸ãƒ¥ãƒ¼ãƒ«
----------------------------------------------------------------------------------------------------*/
#schedule {}
.sec-tv			{ float:left; font-size: 1.4em; background-image: url(../images/icon-tv-s.png); background-repeat:no-repeat; padding-left:30px; height:22px; padding-top:2px;}
.sec-radio		{ float:left; font-size: 1.4em; background-image: url(../images/icon-radio-s.png); background-repeat:no-repeat; padding-left:30px; height:22px; padding-top:2px; }
.sec-magazine	{ float:left; font-size: 1.4em; background-image: url(../images/icon-magazine-s.png); background-repeat:no-repeat; padding-left:30px; height:22px; padding-top:2px; }
.sec-other		{ font-size: 1.6em; background-image: url(../images/icon-other.png); background-repeat:no-repeat; padding-left:40px; height:32px; padding-top:6px; }
.sche-update	{ float:right; padding-top:3px; }

/* Biography
----------------------------------------------------------------------------------------------------*/
.bio p { font-size:1.4em; }

/* é¦™è¾›ä¸¸
----------------------------------------------------------------------------------------------------*/
.fukidashi {
background-color:#fff950;
border:1px solid #cccc33;
border-radius:5px;
position:relative;
margin-right:120px;
}
 
.fukidashi:before {
border:10px solid transparent;
border-left-color:#fff950;
border-right-width:0;
right:-9px;
content:"";
display:block;
top:20px;
position:absolute;
width:0;
z-index:1;
}
 
.fukidashi:after {
border:10px solid transparent;
border-left-color:#cccc33;
border-right-width:0;
right:-10px;
content:"";
display:block;
top:20px;
position:absolute;
width:0;
}

.fukidashi p { padding:0 10px; }
.nao-cmt { float:right; width:100px; }

/* ãƒšãƒ¼ã‚¸ãƒãƒ¼ã‚·ãƒ§ãƒ³
----------------------------------------------------------------------------------------------------*/
.pagenavi {
  color: #3c82c3;
  margin: 1em auto;
  line-height:2em;
}
 
a.page-numbers, .pagenavi .current {
  	padding:4px 8px 4px 8px;
	margin: 2px 2px 2px 0;
	background:transparent;
}
 
a.page-numbers:hover {
  background-color: #fffa96;
}
 
.pagenavi .current {
  padding:4px 8px 4px 8px;
	background-color: #333;
	color: #fff;
}
 
.pagenavi .next, .pagenavi .prev {
  border:0 none;
  background:transparent;
  font-size:smaller;
}


/* TABLE
----------------------------------------------------------------------------------------------------*/

.table{
    border-collapse: collapse;
    border-spacing: 0;
	width: 100%;
  	margin: 0 0 40px;
	font-size:12px; 
}

caption {
	font-weight:bold;
  padding: 0.7em;
  background: transparent;
  text-align: left;
}

.table th, .table td {
  line-height: 1.4em;
  text-align: left;
}

.table th	{ font-size:12px; font-weight:normal;}
.table tr {   }
.table td {
  padding:15px 10px;
  vertical-align: top;
  border-top: 1px solid #dcdcdc;
}

.table p {
  margin:0;

}

.cleanline td {
  border-top: 0;
}

td.sche_date { color:#000;  }
td.tax div 	{ font-size:10px; margin-top:3px; min-width:100px; }
td.cont div { }
.table td img { float:left; margin-right:5px; }
.sche_new {font-size:12px; color:#FF0033;}
.table p a {}
.table p a:link {
	color: #147878;
	border-bottom: 1px dotted #147878;
}
.table p a:visited {
	color: #147878;
	border-bottom: 1px dotted #147878;
}
.table p a:hover {
	color: #333;
	border-bottom: none;
	background-color:#fffa96;
}
