/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}



/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 62.5%; /* 1 */
    -ms-text-size-adjust: 62.5%; /* 2 */
	  -webkit-font-smoothing: antialiased; 
    -webkit-text-size-adjust: none;
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
  margin: 0;
	font-weight:normal;
	color:#333333;
}

hr { height: 1px;
border: none;
border-top: 1px #ccc solid;
}

/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
  margin: 0;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
    margin: 0.4em 0;
}

small {
    font-size: 75%;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
    margin: 0 0;
}

dd {
    margin: 0 0 0 20px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
    padding: 0 0 0 20px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/* Table Resets */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size:1.4em;
}

th {
  font-weight: 700;
}

/* Table */
.table {
  width: 100%;
  margin: 0 0 20px;
}

caption {
  padding: 0.7em;
  background: transparent;
}

.table th,
.table td {
  line-height: 1.28em;
  padding: 0.7em;
  text-align: left;
}

.table td {
  border-top: none;
}


/* =============================================================================
   common
   ========================================================================== */

body {
	font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	color: #000;
	letter-spacing:1px;
	line-height:240%;
}
img {
	max-width: 100%;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}


/* font 
----------------------------------------------------------------------------------------------------*/
h1 { }
h2 { font-size:2.4em; }
h3 { font-size:2.0em; }
h4 { font-size:1.6em; letter-spacing:0.2em;}
h5 {}
h6 {}

.font-gf				{ font-family:Arial, serif; }
.txt-center 			{ text-align:center; }
.txt-right	 			{ text-align: right; }
.caption				{ font-size:0.8em; color:#666; font-family:'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;}

/* button
----------------------------------------------------------------------------------------------------*/
.bt-area { text-align:center; }
.bt-area span  {
	font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size:12px;
	letter-spacing:1px;
  border: 1px solid #ccc;   
  padding: 5px 20px;   
  cursor: pointer;  
  color: #000;
	background:none;
	position:relative;
}  

.bt-area span:hover  { background-color:#ccc; }

.btbox  {
	width:100px;
	text-align:center;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size:12px;
	letter-spacing:1px;
	border: 1px solid #ccc;  
  padding: 5px 20px;   
  cursor: pointer;  
  color: #000;
	background:none;
	position:relative;
	line-height:1em;
}  

.btbox:hover { background-color:#ccc; }

/* utility 
----------------------------------------------------------------------------------------------------*/
.centerpos { text-align:center; }

/* Navigation 
----------------------------------------------------------------------------------------------------*/
.header_top { width:100%; text-align:center; position:absolute; z-index:50; padding:30px 0 20px 0; }
.header 	{ width:100%; text-align:center; padding:30px 0 60px 0;  }
.site_title_top		{ color:#fff; font-size:1em; margin-top:10px;  }
.site_title		{ font-size:1em; margin-top:10px;  }

/* Navigation fix */
.navfix 	{ display:none;}
.fixed 		{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display:block;
	background-color: #ccc;
	z-index:100;
	text-align:center;
	border-bottom: 1px #545454 solid;
}

.fixed p		{ font-size:1em;  margin:0; color: #000; padding-top:10px;}
.navigation2 	{ list-style: none; padding:10px 0 10px 0; }
.navigation2 li	{ display: inline; margin: 0 10px; color: #000; font-size:1.4em; letter-spacing:0.2em; }
.navigation2 a:link		{ cursor:pointer; color: #000; }
.navigation2 a:visited	{ cursor:pointer; color: #000; }
.navigation2 a:hover	{ cursor:pointer; color: #666; }

/* アンカーのズレを修正　*/
#shichi-go-san { margin-top: -70px; padding-top: 70px;}
#baby { margin-top: -70px; padding-top: 70px;}
#school { margin-top: -70px; padding-top: 70px;}
#anniversary { margin-top: -70px; padding-top: 70px;}

/* Footer
----------------------------------------------------------------------------------------------------*/
#footer		{ width:100%;  padding:40px 0 40px 0; background-color: #ccc; color:#000; text-align:center; height:180px; border-top: 1px #ccc solid; clear:both;}
#footer a:link		{ cursor:pointer; color: #000; }
#footer a:visited	{ cursor:pointer; color: #000; }
#footer a:hover		{ cursor:pointer; color: #666; }


/* PC grid
----------------------------------------------------------------------------------------------------*/
[class*="grid_"] img {
  max-width: 100%;
  height: auto;
}

/***** Screen 960px *****/

.row 								{ margin:0 auto; width:960px; overflow:hidden; }
.row .row 							{ margin:0 -16px 0 -16px; width:auto; display:inline-block; }
.nomargin							{ margin:0 -16px 0 -16px; width:auto; }

.grid_1								{ width:48px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_2 							{ width:128px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; margin-bottom:30px; }
.grid_3 							{ width:208px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_4 							{ width:288px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_5 							{ width:368px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }		
.grid_5-pl            { width:268px; padding-left: 100px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; } 
.grid_6 							{ width:448px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; text-align: center;}
.grid_7 							{ width:528px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline;}
.grid_8 							{ width:608px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_9								{ width:688px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_10							{ width:768px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_11							{ width:848px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_12							{ width:928px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_12-s6					  { width:928px; margin:30px 16px 0 16px; overflow:hidden; float:left; text-align: center; display:inline;}

.grid_6_disco 						{ width:480px; overflow:hidden; float:left; display:inline; }
.grid_jacket						{ width:288px; overflow:hidden; float:left; display:inline; margin-right:16px; margin-bottom:20px;}

.show-phone 						{ display:none !important; }
.show-tablet 						{ display:none !important; }
.show-screen						{ display:inherit !important; }
	
.hide-phone							{ display:inherit !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:none !important; }

.stepTxt1             { font-size: 1.2em; text-align: left; padding-top: 40px;}
.stepTxt2             { font-size: 1.2em; text-align: left; padding-top: 35px;}
.stepTxt3             { font-size: 1.2em; text-align: left; padding-top: 70px;}
.stepTxt4             { font-size: 1.2em; text-align: left; padding-top: 60px;}

.p-faq								{ padding: 0 10%; margin-bottom: 50px ;}
.p-profile            { padding: 0 10%; margin-bottom: 50px ;}

.flexible-mb          { margin-bottom: 100px;}
.flexible-mb2         { margin-bottom: 40px;}
.flexible-pt          { padding-top : 15px;}

.bt-reserve           { text-align:left; margin-top: 30px; margin-bottom: 10px;}
.bt-reserve span      { font-size: 18px; padding: 10px 30px;}


/***** Screen Bigger than 960px *****/
@media only screen and (min-width:1200px) {

.row 								  { margin:0 auto; width:1200px; overflow:hidden; }
.row .row 						{ margin:0 -20px 0 -20px; width:auto; display:inline-block; }
.nomargin							{ margin:0 -20px 0 -20px; }

.grid_1								{ width:60px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; }
.grid_2 							{ width:160px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; margin-bottom:40px; }
.grid_3 							{ width:260px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; }
.grid_4 							{ width:360px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; }
.grid_5 							{ width:460px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; }
.grid_5-pl            { width:300px; padding-left: 160px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; } 		
.grid_6 							{ width:560px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; text-align: center;}
.grid_7 							{ width:660px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; }
.grid_8 							{ width:760px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; }
.grid_9								{ width:860px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; }
.grid_10							{ width:960px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; }
.grid_11							{ width:1060px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; }
.grid_12							{ width:1160px; margin:0 20px 0 20px; overflow:hidden; float:left; display:inline; }
.grid_12-s6						{ width:1160px; margin:30px 20px 0 20px; overflow:hidden; float:left; display:inline; text-align: center; }


.grid_6_disco 						{ width:600px; overflow:hidden; float:left; display:inline; }
.grid_jacket						{ width:360px; overflow:hidden; float:left; display:inline; margin-right:20px; margin-bottom:20px;}

.show-phone 						{ display:none !important; }
.show-tablet 						{ display:none !important; }
.show-screen						{ display:inherit; }

.hide-phone							{ display:inherit !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:none !important; }

.p-faq								{ padding: 0 10%; margin-bottom: 50px ;}

.flexible-mb          { margin-bottom: 120px;}
.flexible-mb2         { margin-bottom: 40px;}

}



/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {

.row 								{ margin:0 auto; width:768px; overflow:hidden; }
.row-table          { margin:0 auto; width:768px; overflow:hidden; display: table;}
.row .row 							{ margin:0 -14px 0 -14px; width:auto; display:inline-block; }
.nomargin							{ margin:0 -14px 0 -14px; }
		
.grid_1								{ width:36px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; }
.grid_2 							{ width:100px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; margin-bottom:26px;}
.grid_3 							{ width:164px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; }
.grid_4 							{ width:228px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; }
.grid_5 							{ width:292px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; }		
.grid_5-pl            { width:220px; padding-left: 72px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; } 
.grid_6 							{ width:356px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; text-align: center;}
.grid_7 							{ width:420px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; }
.grid_8 							{ width:484px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; }
.grid_9								{ width:548px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; }
.grid_10							{ width:612px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; }
.grid_11							{ width:676px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; }
.grid_12							{ width:740px; margin:0 14px 0 14px; overflow:hidden; float:left; display:inline; }
.grid_12-s6						{ width:740px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; text-align: center; margin-top: 15px; }


.grid_6_disco 						{ width:384px; overflow:hidden; float:left; display:inline; }
.grid_jacket						{ width:228px; overflow:hidden; float:left; display:inline; margin-right:14px; margin-bottom:20px;}
	
.show-phone 						{ display:none !important; }
.show-tablet 						{ display:inherit !important; }
.show-screen						{ display:none !important; }
	
.hide-phone							{ display:inherit !important; }
.hide-tablet						{ display:none !important; }
.hide-screen						{ display:inherit !important; }

.p-faq								{ padding: 0 10%; margin-bottom: 50px ;}

.flexible-mb          { margin-bottom: 60px;}
.flexible-mb2         { margin-bottom: 40px;}
.bt-reserve span      { font-size: 12px; padding: 10px 30px;}
	
}



/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {

.row 								{ margin:0 auto; width:300px; overflow:hidden; }
.row .row 							{ margin:0 -10px 0 -10px; width:auto; display:inline-block; }
.nomargin							{ margin:0 -10px 0 -10px; }
		
.grid_1,
.grid_3,							
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_12-s6						{ width:280px; margin:10px 10px 0 10px; overflow:hidden; float:left; text-align: center; display:inline; }
.grid_5-pl            { width:280px; padding-left:0; margin:10px 10px 0 10px; overflow:hidden; text-align: center; float:left; display:inline; }

.grid_2								{ width:130px; margin:10px 10px 10px 10px; overflow:hidden; float:left; display:inline; }

.grid_6_disco 						{ width:100%; overflow:hidden; float:left; display:inline; }
.grid_jacket						{ width:100%; overflow:hidden; float:left; display:inline; margin-bottom:20px;}


.offset_1,
.offset_2,
.offset_3,
.offset_4,
.offset_5,
.offset_6,
.offset_7,
.offset_8,
.offset_9,
.offset_10,
.offset_11							{ margin-left:0; }

.show-phone 						{ display:inherit !important; }
.show-tablet 						{ display:none !important; }
.show-screen						{ display:none !important; }
	
.hide-phone							{ display:none !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:inherit !important; }

.stepTxt1,           
.stepTxt2,             
.stepTxt3,            
.stepTxt4             { padding-top: 0;}

.p-faq								{ padding: 0; margin-bottom: 50px ;}

.flexible-mb          { margin-bottom: 30px;}
.flexible-mb2         { margin-bottom: 20px;}
.flexible-pt          { padding-top : 0px;}

.bt-reserve           { text-align:center; }

.fixed { display:none; }

  table,
  thead,
  tbody,
  th,
  td,
  tr,
  caption {
    display: block;
  }

  thead tr {
    display: none;
  }
td.sche_date { background-color:#fff; color:#333;  }

	 #slide7{ display:none; }
}	 




/***** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {

.row 								{ margin:0 auto; width:456px; overflow:hidden; }
.row .row 							{ margin:0 -10px 0 -10px; width:auto; display:inline-block; }
.nomargin							{ margin:0 -10px 0 -10px; }
	
.grid_1,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_12-s6						{ width:436px; margin:10px 10px 0 10px; overflow:hidden; text-align: center; float:left; display:inline; }
.grid_5-pl            { width:436px; padding-left:0; margin:10px 10px 0 10px; overflow:hidden; text-align: center; float:left; display:inline; }

.grid_2								{ width:208px; margin:10px 10px 10px 10px; overflow:hidden; float:left; display:inline; }

.grid_6_disco 						{ width:100%; overflow:hidden; float:left; display:inline; }
.grid_jacket						{ width:100%; overflow:hidden; float:left; display:inline; margin-bottom:20px;}

.show-phone 						{ display:inherit !important; }
.show-tablet 						{ display:none !important; }
.show-screen						{ display:none !important; }
	
.hide-phone							{ display:none !important; }
.hide-tablet						{ display:inherit !important; }
.hide-screen						{ display:inherit !important; }

.p-faq								{ padding: 0; margin-bottom: 50px ;}

.flexible-mb          { margin-bottom: 40px;}
.flexible-mb2         { margin-bottom: 40px;}
.flexible-pt          { padding-top : 0px;}

  table,
  thead,
  tbody,
  th,
  td,
  tr,
  caption {
    display: block;
  }

  thead tr {
    display: none;
  }
  td.sche_date { background-color:#fff; color:#333;  }
  
  #slide7{ display:none; }
}




/***** Clean up *****/

.container:after 					{ content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix:before,
.clearfix:after,
.row:before,
.row:after 							{ content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.row:after,	.clearfix:after 		{ clear:both; }
.row, 
.clearfix 							{ zoom:1; }
.clear 								{ clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;	}




/* Navigation responsiv
----------------------------------------------------------------------------------------------------*/

#navControl		{ display: block;  height: 44px; position:fixed; top:2px; right:2px; z-index:100; }
#navControl a {  /* メニュー開閉ボタンのスタイル */
  display: block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  /* 画像の位置指定は使用する画像により異なる */
  background: url(../images/menu.png) no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap;
}
 
ul#globalNav_top {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position:fixed;
  top:0px;
  width:100%;
  font-size:1.2em;
}
ul#globalNav_top li a {
  display: block;
  padding: 10px;
  background-color: #333;
  text-align:left;
  color: #fff;
  text-decoration: none;
  border-bottom:1px #222 solid;
}

ul#globalNav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position:fixed;
  top:0px;
  width:100%;
  font-size:1.2em;
}
ul#globalNav li a {
  display: block;
  padding: 10px;
  background: #333;
  text-align:left;
  color: #fff;
  text-decoration: none;
  border-bottom:1px #222 solid;
}
 
/* 480px 以上 */
@media only screen and (min-width: 480px) {
 
  #navControl 			{ display: none;  /* メニュー開閉ボタンは非表示に */ }
  
  ul#globalNav_top 		{ display: block !important;  /* メニュー（ナビゲーション）は必ず表示 */ width:100%; font-size:1.4em; letter-spacing:0.2em; position:static; }
  ul#globalNav_top li 	{ display: inline;  margin: 0 10px;  }
  ul#globalNav_top li a { display: inline;  padding: 0px; margin: 0 0px; background-color:transparent; color: #545454; border:none; }
  ul#globalNav_top li a:hover		{ color: #666; background-color:transparent; }
  ul#globalNav_top li:last-child	{ margin-right: 0;  /* 最後の要素は右マージン無し */}
  
  ul#globalNav 			{ display: block !important;  /* メニュー（ナビゲーション）は必ず表示 */ width:100%; font-size:1.4em; letter-spacing:0.2em; position:static; }
  ul#globalNav li 		{ display: inline;  margin: 0 10px;  }
  ul#globalNav li a 	{ display: inline;  padding: 0px; margin: 0 0px; background-color:transparent; color: #333; border:none; }
  ul#globalNav li a:hover		{ color: #666; background-color:transparent; }
  ul#globalNav li:last-child	{ margin-right: 0;  /* 最後の要素は右マージン無し */}

}


/* Margin and Paddings 
----------------------------------------------------------------------------------------------------*/
.m10 { margin: 10px; }
.m20 { margin: 20px; }
.m40 { margin: 40px; }
.m10-top { margin-top: 10px; }
.m20-top { margin-top: 20px; }
.m40-top { margin-top: 40px; }
.m60-top { margin-top: 60px; }
.m80-top { margin-top: 80px; }
.m100-top { margin-top: 80px; }
.m10-right { margin-right: 10px; }
.m20-right { margin-right: 20px; }
.m40-right { margin-right: 40px; }
.m10-bottom { margin-bottom: 10px; }
.m20-bottom { margin-bottom: 20px; }
.m40-bottom { margin-bottom: 40px; }
.m60-bottom { margin-bottom: 60px; }
.m80-bottom { margin-bottom: 80px; }
.m100-bottom { margin-bottom: 100px; }
.m120-bottom { margin-bottom: 120px; }
.m10-left { margin-left: 10px; }
.m20-left { margin-left: 20px; }
.m40-left { margin-left: 40px; }

.p10 { padding: 10px; }
.p20 { padding: 20px; }
.p40 { padding: 40px; }
.p10-top { padding-top: 10px; }
.p20-top { padding-top: 20px; }
.p40-top { padding-top: 40px; }
.p10-right { padding-right: 10px; }
.p20-right { padding-right: 20px; }
.p40-right { padding-right: 40px; }
.p10-bottom { padding-bottom: 10px; }
.p20-bottom { padding-bottom: 20px; }
.p40-bottom { padding-bottom: 40px; }
.p60-bottom { padding-bottom: 60px; }
.p10-left { padding-left: 10px; }
.p20-left { padding-left: 20px; }
.p40-left { padding-left: 40px; }


